.contenedor {
  display: flex;
  align-items: center;

}

.contenedor .contador {
  margin: 0
}

.sumar, .restar{
  border: none;
  background-color: unset;
}

.sumar:hover, .restar:hover{
  animation: cambio .3s ease;
  background-color: #0d6dfd67;
}

@keyframes cambio {
  0%,60%{
    background-color: unset;
  }

  100%{
    background-color: #0d6dfd67;
  }
}
