.carrito {
    opacity: 1;
    animation: aparecer 1s ease-in-out;
}
.nav-link{
    border-radius: 40px;
}
.nav-link:hover{
    background-color: #60a7e11f;
}


.desactivado {
    opacity: 0;
    pointer-events: none;
    animation: desaparecer 1s ease-in-out;
}

@keyframes aparecer {
    0%, 70%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}

@keyframes desaparecer {

    0%,
    70% {
        opacity: 1;
    }

    100% {
        opacity: 0;
    }
}